body {
  font-weight: 300;
}
h1 {
  letter-spacing: -2px;
}
a {
  color: yellow
}
pre {
  font-size: 25px;
}
li {
  padding-left: 5px;
}
.center {
  text-align: center;
}
.stack {
  background-image: url(../img/navy_blue_@2X.png);
  background-size: cover;
  background-position: center center;
  transform: translate3d(0,0,0);
}
.headshot {
  width: 160px;
  height: 160px;
  border: 6px solid #EFE;
  border-radius: 50%;
}
.stack-screenshot {

}
.stack-screenshot h1 {
  font-size: 48px;
  font-weight: 300;
  margin: 0.25em 0;
}
.stack-screenshot p {
  font-size: 30px;
  margin: 0.25em 0;
}
.stack-screenshot img {
  display: block;
  margin-left: -60px;
}

#welcome {
  background-image: url(../img/leonid_meteor_with_big_dipper.jpg);
}
#welcome > div {
  padding: 40px 80px;
  background: rgba(0,0,0,0.7);
}
#welcome h1 {
  color: #000;
  background: rgba(255, 255, 255, 0.96);
  padding: 0 160px;
  margin: 0 -80px 1em;
}
#welcome img {
  float: right;
}

#no-idea {
  background-image: url(../img/i-have-no-idea.jpg);
}

#what-is {
  background-image: url(../img/universe.png);
  background-size: auto auto;
}
#what-is > div {
  padding: 40px 80px;
  background: rgba(0,0,0,0.7);
}
#what-is h1 {
  color: #000;
  background: rgba(255, 255, 255, 0.98);
  padding: 0 160px;
  margin: 0 -80px 1em;
}
#what-is ul {
  font-size: 72%;
}
#what-is li {
  margin-bottom: 1em;
}

#blackbird {
  background-image: url(../img/blackbird.jpg);
}

#whats-happening {
  background-image: url(../img/BillandTedsExcellentAdventure.jpg)
}
#whats-happening > div {
  padding: 40px 80px;
  background: rgba(0,0,0,0.5);
}

#erhmahgerd {
  background-image: url(../img/erhmahgerd.jpg)
}

#first-meetup {
  background-image: url(../img/first-mmetup.jpeg);
  background-position: center top;
}

#such-wow {
  background-image: url(../img/doge.png);
}

#browpie img {
  float: right;
  margin-top: -200px;
  box-shadow: 0 0 1em #000;
}

#foam {
  background-color: #333;
  background-size: auto auto;
  background-image: url(../img/foam.png);
  background-repeat: no-repeat;
  background-position: 85% center;

}
#foam > div {
  padding: 40px 80px;
  background: rgba(0,0,0,0.5);
}

#how-does-it-know {
  background-image: url(../img/inigo.jpg);
}
#how-does-it-know > div {
  padding: 40px 80px;
  background: rgba(0,0,0,0.5);
}

#routing {
  background-image: url(../img/ironman-router.jpg);
}
#routing > div {
  padding: 40px 80px;
  background: rgba(0,0,0,0.7);
}

#atmosphere {
  background-image: url(../img/Top_of_Atmosphere.jpg);
  background-position: center top;
}
#atmosphere > div {
  padding: 40px 80px;
  background: rgba(0,0,0,0.7);
}

#meteor-packages {
  background-image: url(../img/Bengal-kitty-in-a-box.jpg);
}
#meteor-packages > div {
  padding: 40px 80px;
  background: rgba(0,0,0,0.7);
  overflow: hidden;
}
#meteor-packages h1 {
  color: #000;
  background: rgba(255, 255, 255, 0.96);
  padding: 0 160px;
  margin: 0 -80px 1em;
}
#meteor-packages ul {
  float: left;
  font-size: 28px;
  margin-right: 5em;
}

#test-the-ideas {
  background-image: url(../img/awesome_but_crazy_inventions_640_01.jpg);
}

#thanks {
  background-image: url(../img/goodnight.png);
}
#thanks > div {
  padding: 40px 80px;
  background: rgba(0,0,0,0.4);
}